/* src/ind(ex.css */
/* ...otros estilos... */
@import './css/tailwind.css'; /* Ruta al archivo tailwind.css que creaste */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Euphoria+Script&family=Lemon&family=Pacifico&family=Roboto+Condensed:wght@300;600&family=Salsa&family=Satisfy&family=Ubuntu:wght@300;500&display=swap');


:root{
  --green-spotify: #1DB954;
  --white-main: #FFFFFF;
  --black-main: #191414;
}

html{
  margin: 0px;
}

body {
  
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root{
  margin: 0px;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
