/* src/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.LoginMainContainer{
    height: 400px;
    display: flex;
    flex-direction: column;
   
}

#LoginTitle{
    text-align: center;
    font-family: 'Salsa', cursive;
}

.LoginMainImageContainer{
  
    display: flex;
    justify-content: center;
}
#LoginMainImage{
    
    width: 250px;
    margin: 2px;
}


.LoginButton{
    margin: 10px;
    height: 50px;
    width: 200px;
    background-color: var(--green-spotify);
    color: var(--white-main);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Salsa', cursive;
}

.spanLogin{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Salsa';
    font-size: large;
}
.spanLogin li{
    font-size: small;
}