/* src/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.LoginMainContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#LoginTitle{
    text-align: center;
    font-family: 'Salsa', cursive;
}

.LoginMainImageContainer{
    display: flex;
    justify-content: center;
}
#LoginMainImage{
    width: 400px;
    margin: 2px;
}


.LoginButton{
    margin: 10px;
    height: 50px;
    width: 200px;
    background-color: var(--green-spotify);
    color: var(--white-main);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Salsa', cursive;
}